* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/GitHubTagLib/DBTest.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/GitHubTagLibBodyTagSupport.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/GitHubTagLibTagSupport.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/Sequence.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/Commit.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitCommitted.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitCommittedToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitEmail.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitID.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitLogin.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitMessage.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitName.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/commit/CommitUserId.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/committer/Committer.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/committer/CommitterCount.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/committer/CommitterDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/committer/CommitterIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/committer/CommitterMostRecent.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/committer/CommitterMostRecentToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/committer/CommitterRid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/committer/CommitterUid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/follows/Follows.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/follows/FollowsDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/follows/FollowsFollower.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/follows/FollowsFollowing.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/follows/FollowsIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/member/Member.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/member/MemberDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/member/MemberIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/member/MemberOrganizationId.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/member/MemberUserId.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/orgRepo/OrgRepo.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/orgRepo/OrgRepoDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/orgRepo/OrgRepoIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/orgRepo/OrgRepoOrganizationId.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/orgRepo/OrgRepoRepositoryId.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/Organization.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationBlog.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationCompany.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationCreatedAt.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationCreatedAtToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationDescription.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationEmail.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationFollowers.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationFollowing.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationHasOrganizationProjects.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationHasRepositoryProjects.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationID.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationLocation.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationLogin.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationName.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationPublicGists.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationPublicRepos.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationUpdatedAt.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/organization/OrganizationUpdatedAtToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitterCount.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitterDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitterEmail.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitterIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitterMostRecent.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitterMostRecentToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitterName.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/otherCommitter/OtherCommitterRid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/parent/Parent.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/parent/ParentDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/parent/ParentID.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/parent/ParentIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/parent/ParentParentFullName.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/parent/ParentParentId.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/readme/Readme.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/readme/ReadmeDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/readme/ReadmeID.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/readme/ReadmeIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/readme/ReadmeReadme.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/Repository.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryArchived.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryCreatedAt.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryCreatedAtToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryDefaultBranch.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryDescription.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryFork.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryForks.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryForksCount.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryFullName.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryHasDownloads.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryHasIssues.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryHasPages.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryHasProjects.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryHasWiki.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryHomepage.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryID.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryIsPrivate.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryLanguage.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryLicense.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryName.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryOpenIssues.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryOpenIssuesCount.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryPushedAt.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryPushedAtToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositorySize.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryStargazersCount.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryUpdatedAt.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryUpdatedAtToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryWatchers.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/repository/RepositoryWatchersCount.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchOrganization/SearchOrganization.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchOrganization/SearchOrganizationDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchOrganization/SearchOrganizationIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchOrganization/SearchOrganizationOrgid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchOrganization/SearchOrganizationRank.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchOrganization/SearchOrganizationRelevant.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchOrganization/SearchOrganizationSid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchRepository/SearchRepository.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchRepository/SearchRepositoryDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchRepository/SearchRepositoryIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchRepository/SearchRepositoryRank.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchRepository/SearchRepositoryRelevant.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchRepository/SearchRepositoryRid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchRepository/SearchRepositorySid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchTerm/SearchTerm.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchTerm/SearchTermDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchTerm/SearchTermID.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchTerm/SearchTermIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchTerm/SearchTermTerm.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchUser/SearchUser.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchUser/SearchUserDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchUser/SearchUserIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchUser/SearchUserRank.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchUser/SearchUserRelevant.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchUser/SearchUserSid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/searchUser/SearchUserUid.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/User.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserBio.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserBlog.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserCompany.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserCreatedAt.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserCreatedAtToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserEmail.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserFollowers.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserFollowing.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserID.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserLocation.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserLogin.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserName.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserPublicGists.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserPublicRepos.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserSiteAdmin.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserUpdatedAt.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/user/UserUpdatedAtToNow.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/userRepo/UserRepo.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/userRepo/UserRepoDeleter.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/userRepo/UserRepoIterator.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/userRepo/UserRepoRepositoryId.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/userRepo/UserRepoUserId.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/util/Content.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/util/JSONLoader.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/util/LocalProperties.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/util/PropertyLoader.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/util/RoadmapMaintainer.java -text
src/main/java/edu/uiowa/slis/GitHubTagLib/util/json_loader.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/Model.clay~ -text
src/non-packaged-resources/model.sql -text
src/non-packaged-resources/retool.sql -text
src/non-packaged-resources/schema.sql -text
src/test/java/edu/uiowa/slis/GitHubTagLib/README.txt -text
src/test/resources/README.txt -text
